In [1]:
import pandas as pd

df = pd.read_csv(r'D:\Projects\Python\newProject\data.csv')

In [2]:
df

,Team 1,Team 2,Winner,Margin,Ground,Match Date,Scorecard
0,England,Sri Lanka,-,-,Manchester,"Aug 21-25, 2024",Test
1,Pakistan,Bangladesh,-,-,Rawalpindi,"Aug 21-25, 2024",Test # 2544
2,West Indies,South Africa,South Africa,40 runs,Providence,"Aug 15-17, 2024",Test # 2543
3,West Indies,South Africa,drawn,-,Port of Spain,"Aug 7-11, 2024",Test # 2542
4,England,West Indies,England,10 wickets,Birmingham,"Jul 26-28, 2024",Test # 2541
...,...,...,...,...,...,...,...
4246,Heat,Stars,Stars,8 runs,Brisbane,"Dec 20, 2011",Twenty20
4247,Scorchers,Hurricanes,Hurricanes,31 runs,Perth,"Dec 18, 2011",Twenty20
4248,Strikers,Renegades,Strikers,67 runs,Adelaide,"Dec 18, 2011",Twenty20
4249,Stars,Thunder,Thunder,6 wickets,Melbourne,"Dec 17, 2011",Twenty20
4250,Sixers,Heat,Sixers,7 wickets,Sydney,"Dec 16, 2011",Twenty20

In [ ]:
df.drop_duplicates(["Scorecard])